---
layout: default
scripts:
- "script.js"
---

<h1 id="title" class="color-blue">blog.matiboux.me ∕∕∕</h1>

<div class="posts">
	{% if site.posts.size > 0 %}
		{% for post in site.posts %}
			<div class="post">
				<h4 class="title">&rsaquo; <a href="{{ post.url }}">{{ post.title }}</a></h4>

				<p class="metadata date">
					<i class="fas fa-calendar-day fa-fw"></i>
					{{ post.date | date: "%B %e, %Y" }}
				</p>
				<p class="metadata categories">
					<i class="fas fa-quote-left fa-fw"></i>
					<span>{{ post.categories | join: "</span> <span>" }}</span>
				</p>
				<p class="metadata tags">
					<i class="fas fa-tag fa-fw"></i>
					<span>{{ post.tags | join: "</span> <span>" }}</span>
				</p>

				<div class="excerpt">
					{{ post.excerpt }}
					<p class="click-read"><a href="{{ post.url }}">[ click to read ]</a></p>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>There are no posts published yet. Hopefully soon!</p>
	{% endif %}
</div>
