<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}" />
	{% if page.description or site.description %}
		<meta name="description" content="{{ page.description | default: site.description }}" />
	{% endif %}
	<meta name="author" content="{{ site.author }}" />

	<meta name="theme-color" content="#282420" />

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="{{ '/assets/style.css?v=' | append: site.github.build_revision | relative_url }}" />

	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

</head>
{{ content }}
</html>
